vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|01 Dec 2015 23:12:48 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|AMIDARIS\\jlrm01
vti_modifiedby:SR|AMIDARIS\\jlrm01
vti_timecreated:TR|01 Dec 2015 23:12:48 -0000
vti_cacheddtm:TX|01 Dec 2015 23:12:48 -0000
vti_filesize:IR|1145
vti_backlinkinfo:VX|
